<div class="row row-cols-1 row-cols-md-4 text-center">
    <div class="col">
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Média Diário</div>
            <div class="card-body">
                <h5 class="card-title">R$ {{TotalDiario}}</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Média Do mês</div>
            <div class="card-body">
                <h5 class="card-title">R$ {{TotalMensal}}</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Média Anual</div>
            <div class="card-body">
                <h5 class="card-title">R$ {{TotalAnual}}</h5>
            </div>
        </div>
    </div>
</div>