<div class="row row-cols-1 row-cols-md-4 text-center">
    <div class="col">
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Média Diário</div>
            <div class="card-body">
                <h5 class="card-title">R$ {{total}}</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Média Semanal</div>
            <div class="card-body">
                <h5 class="card-title">645,00</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Média ultimos 30 dias</div>
            <div class="card-body">
                <h5 class="card-title">2.400,00</h5>
            </div>
        </div>
    </div>
</div>