<div>
  <br>
  <br>
<div class="d-grid gap-2 col-6 mx-auto">

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Criar Financas</button>
  <!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">Salvar Dados</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action={% url 'marchine:createmarchine' %} method="POST">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="valor" placeholder="valor" />
            <label for="floatingInput">Valor</label>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="acao" id="acao" checked>
            <label class="custom-control-label" for="acao">Entrada</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>